{
   "htmlWhitespaceSensitivity": "strict",
   "vueIndentScriptAndStyle": true,
   "printWidth": 60,
   "tabWidth": 3,
   "useTabs": false,
   "semi": true,
   "singleQuote": true,
   "trailingComma": "all",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "arrowParens": "avoid",
   "quoteProps": "consistent",
   "endOfLine": "lf"
}
