@import url(./theme.css);
@import url(./nav.css);
@import url(./footer.css);


.hidden {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

h2 {
   font-size: calc(1.4 * var(--fontsize-main));
   background-color: inherit;
   color: var(--color-primary);
   border-bottom: 1px solid;
   border-color: var(--color-secondary);
}

h3 {
   color: var(--color-secondary);
   border-bottom: 1px solid;
   border-color: var(--color-highlight);

   font-size: calc(1.2 * var(--fontsize-main));
   font-weight: 200;
}

body {
   background-color: var(--color-white);
   color: var(--color-black);
   font-size: calc(1 * var(--fontsize-main));
   margin: 0;
   padding: 0;
}

header {
   display: flex;
   align-items: center;
   align-content: space-between;

   padding-left: 1rem;
   padding-right: 1rem;

   background-color: var(--color-primary);
   border-bottom: 3px solid;
   border-color: var(--color-primary);
}

/* Outer wrapper for main page content */
main {
   padding: 1rem;
}

/*
*   Helper Classes
*/

.shadow {
   box-shadow: 0.25rem 0.25rem 0.5rem var(--color-shadow);
}

.lift:hover {
   transform: translate(0px, -1px);
}

.lift:active {
   transform: translate(0px, 1px);
}

/*
 * 30em     =  480px
 * 40em     =  640px
 * 60em     =  960px
 * 80em     =  1280px
 * 90em     =  1440px
 * 100em    =  1600px
 * 120em    =  1920px
 */

main {
   margin: 0;
   padding: 0;
   border: none;
}

.main-section-title {
   text-align: center;
   font-size: calc(1 * var(--fontsize-section-header));
}

@media only screen and (min-width: 60em) {
   .main-section-title {
      font-size: calc(1.3 * var(--fontsize-section-header));
   }
}

@media only screen and (min-width: 90em) {
   main {
      margin-left: 10rem;
      margin-right: 10rem;
   }

   .main-section--title {
      font-size: calc(1.6 * var(--fontsize-section-header));
   }
}

@media only screen and (min-width: 120em) {
   main {
      margin-left: 15rem;
      margin-right: 15rem;
   }

   .main-section--title {
      font-size: calc(2 * var(--fontsize-section-header));
   }
}
