@import url(./theme.css);
@import url(./nav.css);

@media only screen and (min-width: 60em) {
   /* > 960px */
   :root {
      --site-size: 60rem;
   }

   main {
      margin-left: 10rem;
      margin-right: 10rem;
   }
}

h2 {
   font-size: calc(1.4 * var(--fontsize-main));
   background-color: inherit;
   color: var(--color-primary);
   border-bottom: 1px solid;
   border-color: var(--color-secondary);
}

h3 {
   color: var(--color-secondary);
   border-bottom: 1px solid;
   border-color: var(--color-highlight);

   font-size: calc(1.2 * var(--fontsize-main));
   font-weight: 200;
}

body {
   background-color: var(--color-white);
   color: var(--color-black);
   font-size: calc(1 * var(--fontsize-main));
   margin: 0;
   padding: 0;
}

header {
   display: flex;
   align-items: center;
   align-content: space-between;

   padding-left: 1rem;
   padding-right: 1rem;

   background-color: var(--color-primary);
   border-bottom: 3px solid;
   border-color: var(--color-primary);
}

/* Outer wrapper for main page content */
main {
   padding: 1rem;
}

/*
*   Helper Classes
*/

.shadow {
   box-shadow: 0.25rem 0.25rem 0.5rem var(--color-shadow);
}

@media screen and (max-width: 400px) {
   main {
      margin: 0;
   }
}
