@import url(global.css);
@import url(code-cards.css);
@import url(attribute-cards.css);
@import url(project-cards.css);

:root {
	--card-size : 12rem;
}

.main-wrapper {
	position : relative;
}

.section-divider {
	background-color : var(--color-white);
}

.main-section {
	padding-top : 5rem;
}

.main-section:not(:first-child) {
	padding-top : 20rem;
}

.button--section-division {
	left       : 50%;
	position   : relative;
	transform  : translate(-50%, 50%);
	transition : transform 0.1s;
}

.button--section-division:hover,
.button--section-division:focus {
	transform : translate(-50%, 48%);
}

.button--section-division:active {
	transform : translate(-50%, 51%);
}

/* Color two of every 4 elements, starting with 1 and 2 */
.main-section:nth-child(4n-3),
.section-divider:nth-child(4n-2) {
	background-color : var(--color-highlight);
}

.section-divider {
	-webkit-clip-path : polygon(
			50% 0%,
			100% 0,
			100% 35%,
			50% 65%,
			0 35%,
			0 0
	);
	clip-path         : polygon(
			50% 0%,
			100% 0,
			100% 35%,
			50% 65%,
			0 35%,
			0 0
	);

	height            : 20rem;

	position          : absolute;
	width             : 100%;
}
