/*
 * Logo
 */
:root {
   --color-logo-primary: var(--color-white);
   --color-logo-secondary: var(--color-secondary);
   --color-logo-background: transparent;
}

.logo-link,
.logo-link:visited {
   text-decoration: none;
   color: var(--color-logo-primary);
}

.logo-outer {
   background-color: transparent;
   width: min-content;
   margin: calc(0.03 * var(--logo-size));
}

.logo-title {
   background-color: transparent;
   width: min-content;

   font-family: var(--font-family-mono);
   font-size: calc(0.09 * var(--logo-size));

   padding: calc(0.05 * var(--logo-size));
   margin: calc(0.025 * var(--logo-size)) auto
      calc(0.02 * var(--logo-size)) auto;

   border: 3px solid;
   border-radius: calc(0.02 * var(--logo-size));
   transition: transform 0.1s;
}

.logo-title:hover {
   /*   background-color: var(--color-logo-primary); */
   color: var(--color-logo-secondary);
   transform: translate(0px, -2px);
}

.logo-title:active {
   transform: translate(0px, 2px);
}

.logo-sub {
   color: var(--color-logo-primary);
   font-family: 'Inter', 'Lato', sans-serif;
   font-size: calc(0.065 * var(--logo-size));

   padding: calc(0.015 * var(--logo-size));
   margin: calc(0.02 * var(--logo-size)) auto
      calc(0.025 * var(--logo-size)) auto;

   text-align: center;
}
