/*
 * Logo
 */
:root {
	--color-logo-background : transparent;
	--color-logo-primary    : var(--color-white);
	--color-logo-secondary  : var(--color-secondary);
	--logo-title-box-height : calc(0.2 * var(--logo-size));
}

.logo {
	background-color : transparent;
	margin           : calc(0.05 * var(--logo-size));
	width            : min-content;
}

.logo > a,
.logo > a:visited {
	color           : var(--color-logo-primary);
	text-decoration : none;
}


.logo-title {
	background-color : transparent;
	border           : 3px solid;
	border-radius    : calc(0.02 * var(--logo-size));
	display          : flex;
	flex-direction   : column;
	flex-wrap        : nowrap;
	height           : var(--logo-title-box-height);
	justify-items    : center;
	overflow         : hidden;
	transition       : transform 0.1s;
	width            : auto;
}

.logo-title > h1,
.logo-title > span {
	align-self  : center;
	font-family : var(--font-family-mono);
	font-size   : calc(0.5 * var(--logo-title-box-height));
	font-weight : lighter;
	padding     : 0 calc(0.3 * var(--logo-title-box-height));
	position    : relative;
	transition  : transform 0.8s;
}

.logo-title:hover {
	color     : var(--color-logo-secondary);
	transform : translate(0px, -2px);
}

.logo-title:hover > h1,
.logo-title:hover > span {
	transform : translateY(calc(-1 * var(--line-height) / 2 * (var(--logo-title-box-height))));
}

.logo-title:active {
	transform : translate(0px, 2px);
}

.logo > p {
	color       : var(--color-logo-primary);
	font-family : "Inter", "Lato", sans-serif;
	font-size   : calc(0.065 * var(--logo-size));
	margin-top  : calc(0.05 * var(--logo-size));
	text-align  : center;
}
