:root {
   /* Colour pallete via coolors.co */
   --paradise-pink: #ee4266ff;
   --light-coral: #ef6f6c;
   --russian-violet: #2a1e5cff;
   --lavender-grey: #bdbace;
   --rich-black-fogra-39: #0a0f0dff;
   --silver-sand: #c4cbcaff;
   --ghost-white: #ededf4;
   --light-sea-green: #3cbbb1ff;

   --typescript-blue: #3178c6;
   /* Colours */
   --color-primary: var(--russian-violet);
   --color-secondary: var(--light-coral);
   --color-highlight: var(--lavender-grey);

   --color-white: var(--ghost-white);
   --color-black: var(--rich-black-fogra-39);
   --color-grey: var(--silver-sand);
   --color-shadow: #aaaaaa;

   --code-color: var(--color-secondary);

   --font-family-sans: 'Inter', Tahoma, Impact, sans-serif;
   --font-family-mono: 'MonoLisa', 'Fira Code',
      'Lucida Mono', ui-monospace, Courier, monospace;
   --fontsize-main: 1rem;
   --fontsize-section-header: 2rem;
   --fontsize-header: 1.6rem;
}

body {
   font-family: var(--font-family-sans);
}
