/*
*   Personal Attribute Cards
*/

.card-section {
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;

   --card-size: 10rem;
}

.card {
   min-width: calc(0.8 * var(--card-size));
   max-width: calc(1.4 * var(--card-size));
   margin: calc(0.04 * var(--card-size));
}

.card:hover {
   transform: translate(-2px, -2px);
}

.card-image {
   max-width: calc(0.5 * var(--card-size));
}

.card-text {
   padding: calc(0.15 * var(--card-size));
   font-size: calc(1 * var(--fontsize-main));
}

@media screen and (max-width: 400px) {
}

@media screen and (min-width: 650px) {
}
