/*
*   Coding Language Cards
*/

.html {
   --code-color: rgba(247, 23, 30);
}

.js {
   --code-color: rgba(247, 223, 30);
}

.ts {
   --code-color: var(--typescript-blue);
}

.code-section {
   max-width: 90vw;
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
}

.code-language {
   background: linear-gradient(
      310deg,
      var(--code-color) 10%,
      var(--color-white) 80%
   );

   margin-top: calc(0.1 * var(--code-size));
   padding: calc(0.08 * var(--code-size));
   border-radius: calc(0.03 * var(--code-size));
   overflow: hidden;

   max-width: calc(1.25 * var(--code-size));
   min-width: calc(1 * var(--code-size));
   min-height: calc(0.75 * var(--code-size));
}

.code-header {
   font-size: calc(0.07 * var(--code-size));
}

.code-text {
   display: flex;
   align-items: center;
   height: max-content;
   flex-grow: 1;
   font-size: calc(0.04 * var(--code-size));
   flex-grow: 1;
}

.code-image {
   min-width: calc(0.3 * var(--code-size));
   max-width: calc(0.05 * var(--code-size));
   margin-left: calc(0.07 * var(--code-size));
}
