/*
*   Coding Language Cards
*/

:root {
   --code-background: var(--color-white);
   --code-text: var(--color-primary);
   --code-text: var(--color-primary);

   --code-fontsize: calc(1.1 * var(--fontsize-main));
   --code-header-fontsize: calc(1 * var(--fontsize-header));
}

.html {
   --code-color: rgba(247, 23, 30, 0.5);
}

.js {
   --code-color: rgba(247, 223, 30, 0.5);
}

.ts {
   --code-color: rgba(49, 120, 198, 0.5);
}

.code-body {
   display: flex;
   align-content: space-between;
   flex-grow: 1;
   flex-direction: column;
}

.code-section {
   --code-size: 20rem;

   text-align: center;
   font-family: var(--font-main);
}

.code-language-cards {
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
}

.code-language {
   margin: calc(0.07 * var(--code-size)) 0 0 0;
   width: 100vw;
   background: linear-gradient(
      160deg,
      var(--code-background) 45%,
      var(--code-color)
   );

   color: var(--code-text);

   margin: calc(0.05 * var(--code-size));
   padding: calc(0.08 * var(--code-size));
   border: 3px solid var(--color-primary);
   border-radius: calc(0.03 * var(--code-size));

   min-height: calc(0.75 * var(--code-size));
}

.code-header {
   width: 100%;
   margin-top: 0;
   font-size: var(--code-header-fontsize);
   color: var(--code-header);
   font-weight: bold;
}

.code-text {
   font-size: var(--code-fontsize);
   height: fit-content;
}

.code-image-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: calc(0.07 * var(--code-size));
}

.code-image {
   min-width: calc(0.3 * var(--code-size));
   max-width: calc(0.05 * var(--code-size));
}

@media screen and (min-width: 600px) {
   .code-language {
      max-width: calc(1.3 * var(--code-size));
      text-align: left;
   }

   .code-header {
      font-size: calc(1.2 * var(--code-header-fontsize));
   }

   .code-body {
      display: flex;
      flex-direction: row;
      justify-content: left;
      min-height: calc(0.6 * var(--code-size));
   }

   .code-text {
      font-size: calc(1.2 * var(--code-fontsize));
      max-width: calc(0.9 * var(--code-size));
   }

   .code-image-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 0;
      margin-left: calc(0.07 * var(--code-size));
      max-width: calc(0.4 * var(--code-size));
   }
}
