/*
*   Coding Language Cards
*/

.html {
   --code-color: rgba(247, 23, 30);
}

.js {
   --code-color: rgba(247, 223, 30);
}

.ts {
   --code-color: var(--typescript-blue);
}

.code-section {
    --code-size: 10rem;

   font-family: var(--font-main);
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
}

.code-language {
   background: linear-gradient(
      310deg,
      var(--code-color) 10%,
      var(--color-white) 80%
   );

   margin-top: calc(0.1 * var(--code-size));
   padding: calc(0.08 * var(--code-size));
   border-radius: calc(0.03 * var(--code-size));
   overflow: hidden;

   width: 100vw;
   min-height: calc(0.75 * var(--code-size));
}

.code-header {
   font-size: calc(0.07 * var(--code-size));
}

.code-body {
   display: flex;
}

.code-text {
   align-items: baseline;
   font-size: calc(0.04 * var(--code-size));
}

.code-image {
   align-self: flex-end;
   min-width: calc(0.2 * var(--code-size));
   max-width: calc(0.3 * var(--code-size));

   margin-left: calc(0.5 * var(--code-size));
}

@media screen and (max-width: 400px) {
   .code-section {
      --code-size: 10rem;
   }

   .code-language {
      width: 100vw;
   }
   .code-body {
      flex-direction: column;
   }

   .code-image {
      align-self: flex-start;
      display: flex;
      flex-direction: row;
      margin-top: calc(0.07 * var(--code-size));
      margin-left: 0;
   }
}

@media screen and (min-width: 650px) {
   .code-language {
      max-width: calc(1.4 * var(--code-size));
      min-width: calc(1 * var(--code-size));
   }

    .code-image {
      min-width: calc(0.3 * var(--code-size));
      max-width: calc(0.05 * var(--code-size));
      margin-left: calc(0.07 * var(--code-size));
   }
}
