/*
*   Personal Attribute Cards
*/

.attribute-cards--wrapper {
	align-content   : space-around;
	display         : flex;
	flex-wrap       : wrap;
	justify-content : center;
}

.attribute-card {
	align-items      : center;
	background-color : var(--color-highlight);
	border           : 2px solid var(--color-secondary);
	border-radius    : calc(0.08 * var(--card-size));
	color            : var(--color-primary);
	display          : flex;
	flex-direction   : column;
	margin           : calc(0.15 * var(--card-size)) 0;
	max-width        : calc(2 * var(--card-size));
	min-height       : calc(1.8 * var(--card-size));
	min-width        : calc(1 * var(--card-size));
	padding          : calc(0.1 * var(--card-size));
}

.attribute-card > img {
	max-width : calc(0.5 * var(--card-size));
}

.attribute-card > h3 {
	color      : var(--color-primary);
	font-size  : calc(2 * var(--fontsize-main));
	margin     : calc(0.1 * var(--card-size)) 0;
	text-align : center;
}

.attribute-card > p {
	font-size  : calc(1 * var(--fontsize-main));
	text-align : center;
}

@media screen and (min-width : 400px) {
	.attribute-card {
		margin  : calc(0.25 * var(--card-size));
		padding : calc(0.2 * var(--card-size));
	}

	.attribute-card > p {
		text-align : left;
	}
}
