@import url(./global.css);
@import url(./logo.css);

:root {
   --nav-fontsize: calc(1 * var(--fontsize-main));
   --logo-size: 15rem;
   --nav-size: 6rem;
}

header {
   flex-direction: column;
   padding-top: 1rem;
}

.nav-link-group {
   --color-nav-primary: var(--color-white);
   --color-nav-secondary: var(--color-secondary);
   --color-nav-background: transparent;

   width: max-content;
   margin: calc(0.14 * var(--nav-size)) auto
      calc(0.14 * var(--nav-size)) auto;
   font-size: var(--nav-fontsize);
   display: flex;
   flex-wrap: wrap;
}

.nav-item {
   margin: calc(0.06 * var(--nav-size));
   padding: calc(0.12 * var(--nav-size));

   color: var(--color-nav-primary);
   text-decoration: none;

   border-radius: 0.2rem;
   border: 1px solid;
   border-color: var(--color-nav-background);

   transition: transform 0.1s;
}

.nav-item--primary {
   border: 3px solid var(--color-nav-secondary);
   background-color: var(--color-nav-secondary);
}

.nav-item--current .nav-text {
   color: var(--color-grey);
   border-bottom: 3px solid var(--color-secondary);
}

.nav-item:hover,
.nav-item:focus {
   color: var(--color-secondary);
   border-color: var(--color-nav-secondary);
   transform: translateY(-2px);
}

.nav-item.nav-item--primary:hover,
.nav-item.nav-item--primary:focus {
   color: var(--color-white);
   border: 3px solid var(--color-white);
   transform: translateY(-2px);
}

.nav-item:active,
.nav-item.nav-item--primary:active {
   transform: translate(0, 1px);
}

/*
 * 30em     =  480px
 * 40em     =  640px
 * 60em     =  960px
 * 80em     =  1280px
 * 90em     =  1440px
 * 100em    =  1600px
 * 120em    =  1920px
 */
@media screen and (min-width: 30em) {
   :root {
      --nav-size: 8rem;
      --logo-size: 20rem;
   }
}

@media screen and (min-width: 40em) {
   :root {
      --nav-size: 9rem;
      --logo-size: 25rem;
   }
}

/* Beyond mobile type screens */

@media screen and (min-width: 60em) {
   header {
      flex-direction: row;
      --nav-size: 8rem;

      --logo-size: 22rem;
      padding-top: 0;
   }

   .nav-link-group {
      margin-right: 0;
   }
}

@media screen and (min-width: 80em) {
   header {
      --nav-size: 9rem;
   }
}
